# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
coverage
dist
dist-ssr
*.local
sl-react-ui-*.tgz
.tsBuild
workAssets
cache/transformers/*
!cache/transformers/.gitkeep
cache/*.json
cache/*.txt
cache/*.md
cache/.llm*
datasets/*
!datasets/.gitkeep
!packables-minimal-for-test.txt

# Environment vars
.env
.enc-env

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# O/S and 3rd-party noise
.DS_Store
*.icloud
